@{
    ViewBag.Title = "Contact";
}
<body class="contact-body">
    <div class="container">
        <ul class="nav nav-pills">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
    </div>
    <div class="container text-center contact-container">
        <h1 class="contact-header">@ViewBag.Title</h1>
        <div class="socialmedia">
            <a href="http://www.github.com/katherinebeam">
                <img width="115" class="git-socialicon" src="~/Content/img/GitHubLogo.png" />
            </a>
            <a href="https://www.linkedin.com/in/katherinebeam">
                <img width="115" class="img-circle social-icon" src="~/Content/img/linkedin-icon.png" />
            </a>
            <a href="https://www.facebook.com/hgjfsgdhjfjgh">
                <img width="115" class="img-circle social-icon" src="~/Content/img/white_facebook_icon.png" /> 
            </a>
            <span class="email">
                <a href="mailto:katherinealexandrabeam@gmail.com?Subject=Hello%20Katherine" class="email-img">
                    <img width="115" class="img-circle social-icon email-img" style="" src="~/Content/img/white_email_icon.png" />
                </a>
                <a href="mailto:katherinealexandrabeam@gmail.com?Subject=Hello%20Katherine" class="email-address">
                    <span class="social-icon img-circle email-address">k.beam@umiami.edu</span>
                </a>
            </span>
            <span class="phone">
                <a href="tel:4405705524" class="phone-img">
                    <img height="115" width="115" style="padding:7px;" class="img-circle social-icon phone-img" src="~/Content/img/white_phone_icon.png" />
                </a>
                <a href="tel:4405705524" class="phone-number">
                    <span class="social-icon img-circle phone-number">(440) 570-5524</span>
                </a>
            </span>
        </div>
    </div>    

