<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katherine Beam | Web Developer</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,300" rel="stylesheet" type="text/css">
        @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

   

        @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
<script>
    $(document).ready(function(){
        $('.email').hover(function() {
            $('.email-img').hide();
            $('.email-address').fadeIn();
        },
            function () {
                $('.email-address').hide(); 
                $('.email-img').fadeIn();
            });

        $('.phone').hover(function () {
            $('.phone-img').hide();
            $('.phone-number').fadeIn();
        },
            function() {
                $('.phone-number').hide();
                $('.phone-img').fadeIn();
            });
     });
    

</script>
    @RenderSection("scripts", required: false)
</body>
</html>
